In [20]:
!pip install seaborn scikit-learn

Requirement already satisfied: seaborn in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: scikit-learn in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (1.6.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from seaborn) (2.2.1)
Requirement already satisfied: pandas>=1.2 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from seaborn) (3.10.0)
Requirement already satisfied: scipy>=1.6.0 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from scikit-learn) (1.15.0)
Requirement already satisfied: joblib>=1.2.0 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: contourpy>=1.0.1 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv('questions.csv')
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [23]:
df.isnull().sum()

id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
dtype: int64

In [24]:
df.dropna(axis=0,inplace=True)

In [25]:
df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [26]:
qs_df = df[['question1','question2']]
qs_df.head()

,question1,question2
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?

In [27]:
qs_df = qs_df[:10000]

In [28]:
# merge ques to make bow

ques = list(qs_df['question1']) + list(qs_df['question2'])
print(ques[:4])
len(ques)

['What is the step by step guide to invest in share market in india?', 'What is the story of Kohinoor (Koh-i-Noor) Diamond?', 'How can I increase the speed of my internet connection while using a VPN?', 'Why am I mentally very lonely? How can I solve it?']

20000

In [29]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=3000)

In [30]:
x_sparse = cv.fit_transform(ques).toarray()

In [31]:
x_sparse.shape

(20000, 3000)

In [32]:
q1_arr, q2_arr = np.vsplit(x_sparse,2)

In [33]:
qs_df.shape

(10000, 2)

In [34]:
q1_arr.shape

(10000, 3000)

In [35]:
temp_df1 = pd.DataFrame(q1_arr, index=qs_df.index)
temp_df2 = pd.DataFrame(q2_arr, index=qs_df.index)

temp_df = pd.concat([temp_df1,temp_df2],axis=1)
temp_df.shape

(10000, 6000)

In [36]:
temp_df['is_duplicate'] = df['is_duplicate']
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(temp_df.iloc[:,0:-1].values, temp_df.iloc[:,-1].values, test_size=0.2, random_state=42)

In [38]:
x_train.shape

(8000, 6000)

In [39]:
## rf

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()
rf.fit(x_train,y_train)

y_pred = rf.predict(x_test)
accuracy_score(y_pred, y_test)

0.7095

In [40]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-2.1.3-py3-none-manylinux_2_28_x86_64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from xgboost) (2.2.1)
Collecting nvidia-nccl-cu12 (from xgboost)
  Downloading nvidia_nccl_cu12-2.24.3-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (1.8 kB)
Requirement already satisfied: scipy in /media/nikki/SINDHUJA/myjupyter/myenv/lib/python3.12/site-packages (from xgboost) (1.15.0)
Downloading xgboost-2.1.3-py3-none-manylinux_2_28_x86_64.whl (153.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 153.9/153.9 MB 3.6 MB/s eta 0:00:0000:0100:02
Downloading nvidia_nccl_cu12-2.24.3-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (201.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 201.3/201.3 MB 4.0 MB/s eta 0:00:0000:0100:02
Installing collected packages: nvidia-nccl-cu12, xgboost
Successfully installed nvidia-nccl-cu12-2.24.3 xgboost-2.1.3

In [41]:
from xgboost import XGBClassifier

xgb = XGBClassifier()
xgb.fit(x_train,y_train)

y_pred = xgb.predict(x_test)
accuracy_score(y_pred, y_test)

0.697